@charset "UTF-8";
html, body{
	margin: 0;
	height: 100%;
}
/* body{
	아주 미세한 여백을 없앨려면 마진을 0으로 주면 여백이 아예 없어짐
	margin: 0;
	
} */
/* 블록요소의 width 는 기본이 화면의 100%, height 는 컨텐츠 크기 만큼. 높이는 padding으로 정하기 */
header{
	padding: 30px 20px;
	background-color:  #0066CC;
	color: white;
	box-sizing: border-box;
	height: 15%;
	/* flextbox 레이아웃으로 자식 요소를 정렬하기 */
	display: flex;
	/* 수직 정렬 */
	align-items: center;
	/* 수평 정렬 */
	justify-content: center;
}
/* .nav{
} */
ul{
	list-style: none;			/* 기본적으로 들어가는 ● 없애기  */
	background-color: #9999FF;
	margin: 0px;
	/* 자식인 li 에 float 속성을 지정했을 때 필요합니다. */
	overflow: hidden;
}
/* ul 태그의 자손 */
ul a{
	text-decoration: none;		/* a태그에 기본적으로 들어가는 밑줄 없애기 */
	padding: 20px;
	display: inline-block;
	color: white;
	transform: scale(1); /* 기본 크기로 설정 */
  	transition: transform 0.3s; /* 확대 및 축소 애니메이션 효과를 설정 */
}
nav a:hover {
  transform: scale(1.2); /* 호버 시 1.2배 확대 */
}

ul li{
	float: left;		
	/* float 을 지정하면 부모 태그 ul의 높이가 0이 됩니다.
	ul 태그 overflow 를 설정하기 */	
		
}
section{
	box-sizing: border-box;
	min-height: 70%;
	padding: 20px;
	/* 컨텐츠 내용만큼 높이만 지정되는 것을 최소 높이 지정하여 바꾸기 */
	/* min-height: 600px; */
	background-color: #E0E0E0;
}
footer{
	box-sizing: border-box;
	min-height: 7%;
	padding: 10px;
	background-color: #0066CC;
	color: white;
	font-size: 80%;
	text-align: center;
}
